h1 {
    color: red;
    font-family: unset, 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 3;
    text-align: center;
    background-color: aqua;
}

p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    background-color: bisque
}

textarea {
    margin: 30px;
    width: 300px;
    height: 150px;
    background-color: brown
}

ul, ol {
    margin: 20px;
    padding: 0;
    color: aquamarine
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}